In [ ]:
from math import pi
class shape:
  def __init__(self,name):
    self.name=name
  def area(self):
    pass
class circle(shape):
  def __init__(self,radius):
    super().__init__("circle")
    self.radius=radius
  def area(self):
    return pi*self.radius**2
class square(shape):
  def __init__(self,length):
    super().__init__("square")
    self.length=length
  def area(self):
    return self.length**2
class rectangle(shape):
  def  __init__(self,length,breadth):
   super().__init__("rectangle")
   self.length=length
   self.breadth=breadth
  def area(self):
    return self.length*self.breadth
a=circle(10)
b=square(8)
c=rectangle(4,6)
print(a.area())
print(b.area())
print(c.area())

314.1592653589793
64
24

In [14]:
class Travel:

  def __init__(self, passengers):
    self.__passengers=passengers
  @property
  def passengers(self):
    return self.__passengers

  def distance(self):
    pass

  def mode(self):
    pass

class train(Travel):
  def cost_of_transport(self):
    print(self.passengers*60)
class bus(Travel):
 def cost_of_transport(self):
    print(self.passengers*100)

mode1 = train(96)
mode1.cost_of_transport()

mode2 = bus(60)
mode2.cost_of_transport()

5760
6000

In [ ]:
class car:
  def __init__(self,carnumber):
    self.carnumber=carnumber
c1=car(9909)
c2=car(1908)
print(c1.carnumber)
print(c2.carnumber)
def carnumswap():
  c1.carnumber,c2.carnumber=c2.carnumber,c1.carnumber
  print("the model number of c1 is ",c1.carnumber)
  print("the model number of c2 is ",c2.carnumber)
carnumswap()

9909
1908
the car number of c1 is  1908
the car number of c2 is  9909